@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Leelawadee UI';
  src: url('/fonts/LeelawUI.ttf'); /* Ajusta la ruta si es necesario */
  font-weight: normal;
  font-style: normal;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; /* 16px */
}

body {
  font-family: 'Leelawadee UI', sans-serif;
  line-height: 1.6;
}

@media (max-width: 1200px) {
  html { font-size: 58%; }
}

@media (max-width: 992px) {
  html { font-size: 55%; }
}

@media (max-width: 768px) {
  html { font-size: 50%; }
}

@media (max-width: 576px) {
  html { font-size: 45%; }
}

@media (max-width: 480px) {
  html { font-size: 42.5%; }
}

@media (max-width: 410px) {
  html { font-size: 38%; }
}

@media (max-width: 360px) {
  html { font-size: 35%; }
}
