.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7);
    height: 4rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 2rem;
}

.header .logo {
    background-image: url('/images/logo.png');
    background-size: cover;
    width: 3rem;
    height: 3rem;
    align-self: center;
}

.header .items {
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-right: 2rem;
    list-style-type: none;
}

.header .hamburgerMenu {
    overflow-x: hidden;
}

.header .items .link {
    color: #FFF;
    text-decoration: none;
}

.header .separator {
    height: 1.2rem;
    width: .11rem;
    border-radius: .5rem;
    background-color: #FFF;;
}


@media (min-width: 1200px) {
    .header {
        height: 5rem;
    }
    .header .logo {
        width: 4rem;
        height: 4rem;
    }
}

@media (min-width: 993px) and (max-width: 1999px) {
    .header {
        height: 7rem;
    }
    .header .logo {
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 992px) {
    .header {
        height: 7rem;
    }
    .header .logo {
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width: 768px) {
    .header {
        height: 8rem;
    }
    .header .logo {
        width: 6rem;
        height: 6rem;
    }
}

@media (max-width: 576px) {
    .header {
        height: 10rem;
    }
    .header .logo {
        width: 7rem;
        height: 7rem;
    }

    .header .items .link {
        font-size: 1.8rem;
    }

    .header .separator {
        height: 2rem;
        width: .15rem;
    }
}

@media (min-width: 433px) {
    .header .hamburgerMenu {
        display: none;
    }
}


@media (max-width: 432px) {
    .header {
        height: 8rem;
    }
    .header .logo {
        width: 6rem;
        height: 6rem;
    }
    .header .items {
        display: none;
    }
}